<!DOCTYPE html>
<html>
	<head> 
		<title>Vitality</title> 
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
	</head>

	<body>
		<header>
			<img class="logo" src="https://cdn-icons-png.flaticon.com/512/4471/4471883.png" alt="logo">
			<nav>
				<ul class="nav_links">
					<li><a href="/">Home</a></li>
					<li><a href="#">History</a></li>
					<li><a href="/about">About</a></li>
				</ul> 
			</nav>
			<a class="cta" href="#"><button>Contact</button></a>
		</header>
		
		<div class="about-page">
			<h1>About Us</h1>
			<h2>Our Web App is designed to help beginners ease into building muscle.</h2>
			<h2>Volume is the mass of the weight you use multiplied by the repetitions you do.</h2>
			<h2>Ideally, you would maintain this volume and increase it over time each time you go to the gym to train.</h2>
			<br>
			<h2>Attached below are useful videos to give you a better idea of Volume & Intensity in your training.</h2>
		</div>
		
		<table class="styled-table">
			<tr>
				<td>The Science behind Training Volume</td>
				<td class="video-text"><a href="https://youtu.be/qwv3JqOUqWs?si=_kd8PmM0wURntq7G">Video Link</a></td>
			</tr>
			<tr>
				<td>At what Intensity should you train at?</td>
				<td class="video-text"><a href="https://youtu.be/qwv3JqOUqWs?si=_kd8PmM0wURntq7G">Video Link</a></td>https://youtu.be/2UUvjVWnWIs?si=uYl-waP4_tdgiXp-
			</tr>
		</table>
	</body>
	
</html>


		