<!DOCTYPE html>
<html>
	<head> 
		<title>Vitality</title> 
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
	</head>

	<body>
		<header>
			<img class="logo" src="https://cdn-icons-png.flaticon.com/512/4471/4471883.png" alt="logo">
			<nav>
				<ul class="nav_links">
					<li><a href="/">Home</a></li>
					<li><a href="#">History</a></li>
					<li><a href="/about">About</a></li>
				</ul> 
			</nav>
			<a class="cta" href="#"><button>Contact</button></a>
		</header>
		
		<div class="login-box">
			<form method="POST">	
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" required><br><br>
        
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required><br><br>
        
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required><br><br>
				
				<input type="submit" value="Register">
				<a href="/login">Already have an account? Click here.</a>
				{% if error %}
				<p>{{ error }}</p>
				{% endif %}
			</form>
		</div>
	</body>
	
</html>


		